<section class="section-container">
    <mat-card class="example-card">
        <mat-card-title>
            <span class="logo-span">
                <img src="../../assets/img/logo.png">
              </span>
            <span class="title-page">
                <H1>Recupere sua Senha</H1>
            </span>
        </mat-card-title>

        <mat-card-content>
            <form class="example-form" [formGroup]="recoverForm">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="username">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Senha:</mat-label>
                    <input matInput type = "password" formControlName="password">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Confirmar senha:</mat-label>
                    <input matInput type = "password" formControlName="password">
                </mat-form-field>
            </form>
            <div class="container-button-enter">
                <button mat-raised-button color = "accent" (click)="login()" class="button-save">Salvar</button>
            </div>
            <div class="container-button-enter">
                <button mat-raised-button color = "accent" (click)="login()" class="button-cancel">Cancelar</button>
            </div>
        </mat-card-content>

    </mat-card>
</section>