<app-navbar></app-navbar>
<section>
    <span class="container-buttons">
        <button mat-flat-button class="button-receita">Inserir Receita</button>
        <button mat-flat-button class="button-despesa">Inserir Despesa</button>
    </span>
</section>
<section>
    <div class="container-despesas">
        <div class="container-title">
        <table>
            <thead>
                <tr>
                    <th>DATA</th>
                    <th>VALOR</th>
                    <th>TIPO</th>
                    <th>S/N FIXO</th>
                    <th>DESCRIÇÃO</th>
                    <th>MENU</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>02/02/2021</td>
                    <td>R$ 2.500,00</td>
                    <td>ALUGUEL</td>
                    <td>FIXO</td>
                    <td>CARO P CARALHO</td>
                    <td>MENU</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</section>

<section>
    <div class="container-receitas">
        <div class="container-title">
        <table>
            <thead>
                <tr>
                    <th>DATA</th>
                    <th>VALOR</th>
                    <th>TIPO</th>
                    <th>S/N FIXO</th>
                    <th>DESCRIÇÃO</th>
                    <th>MENU</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>02/02/2021</td>
                    <td>R$ 2.500,00</td>
                    <td>ALUGUEL</td>
                    <td>FIXO</td>
                    <td>CARO P CARALHO</td>
                    <td>MENU</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</section>