.container-buttons{
    float: right;
    padding: 10px;

    button{
        margin: 10px;
        color: #fff;
    }

    .button-receita{
        background-color: #007BFF;
    }

    .button-despesa{
        background-color: #C82333;
    }
}